OWNCLOUD_DOMAIN=documents.mydomain.com
OWNCLOUD_VERSION=10.16.1
OWNCLOUD_TRUSTED_DOMAINS=documents.mydomain.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=pass
HTTP_PORT=8888
DB_PASSWORD=owncloud
DB_ROOT_PASSWORD=owncloud
COLLAB_DOMAIN=office.mydomain.com
COLLABORA_USER=admin
COLLABORA_PASSWORD=pass
